<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="style.css">
</head>

<body>
<div id = "wrap">
	<header>
		<div class = "title">Русский язык</div>
		<ul class = "menu">
			<li><a href = "#">Контакты</a></li>
			<li><a href = "#">О нас</a></li>
			<li><a href = "#">Услуги</a></li>
		</ul>
	</header>
</div>


<div class="container">
	<h2>Примеры</h2>
	<h3>Полнозначные причастия:</h3>
	<p>На столе лежала <b>открытая</b> книга. (<i>Какая? - открытая</i>)</p>
	<p>Он встретил <b>улыбающегося</b> друга. (<i>Кого? - улыбающегося</i>)</p>

	<h3>Находящиеся в конструкциях с глаголом "быть":</h3>
	<p>Он был <b>учащимся</b> в том университете. (<i>Кем? - учащимся</i>)</p>
	<p>Картина была <b>нарисована</b> художником-абстракционистом. (<i>Кем? - нарисована</i>)</p>

	<h2>Картинки</h2>
	<!--	<img src="prichastie_example1.jpg" alt="Пример 1">
    <img src="prichastie_example2.jpg" alt="Пример 2"> -->
</div>

<div class="container">
	<div class="tabs">
		<div id="tab1" class="tab-content active">
			<h3></h3>
			<p>This is the content for tab 1.</p>
		</div>
		<div id="tab2" class="tab-content">
			<h3></h3>
			<p>This is the content for tab 2.</p>
		</div>
		<div id="tab3" class="tab-content">
			<h3></h3>
			<p>This is the content for tab 3.</p>
		</div>

		<button class="tab-link" data-tab="tab1">Tab 1</button>
		<button class="tab-link" data-tab="tab2">Tab 2</button>
		<button class="tab-link" data-tab="tab3">Tab 3</button>

	</div>
</div>


<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
<script src="getQuestion.js"></script>
<script src="script.js"></script>
</body>
</html>