<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" th:href="@{/styles/main_theme.css}" >
</head>

<body>
	<div id = "wrap">
		<header>
			<div class="logo">
				<img th:src="@{/images/logo_result.png}" alt="Правила русского языка">
			</div>
			<nav>
				<ul>
					<li><a href="#">Главная</a></li>
					<li><a href="#">Правила</a></li>
					<li><a href="#">Упражнения</a></li>
					<li><a href="#">Статьи</a></li>
					<li><a href="#">О нас</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
			</nav>
		</header>
	</div>


	<div class="container">
		<h2>Примеры</h2>
		<h3>Полнозначные причастия:</h3>
		<p>На столе лежала <b>открытая</b> книга. (<i>Какая? - открытая</i>)</p>
		<p>Он встретил <b>улыбающегося</b> друга. (<i>Кого? - улыбающегося</i>)</p>

		<h3>Находящиеся в конструкциях с глаголом "быть":</h3>
		<p>Он был <b>учащимся</b> в том университете. (<i>Кем? - учащимся</i>)</p>
		<p>Картина была <b>нарисована</b> художником-абстракционистом. (<i>Кем? - нарисована</i>)</p>

		<h2>Картинки</h2>
		<!--	<img src="prichastie_example1.jpg" alt="Пример 1">
		<img src="prichastie_example2.jpg" alt="Пример 2"> -->
	</div>

	<div class="container">
		<div class="tabs">
			<form method="POST" th:object="${task}" name="question" action="/theme/checkAnswer">
				<h1 th:text="${task.question}"></h1>
				<div th:switch="${task.type}">
					<div th:case="${T(com.example.springinaction.repetit.testTask.Task.Type).SingleAnswer}">
						<div th:each="answer : ${task.answersList}">
							<input type="radio" th:name="${task.id}" th:field="${task.studentAnswer}" th:value="${answer}" th:text="${answer}"/>
						</div>
					</div>
					<div th:case="${T(com.example.springinaction.repetit.testTask.Task.Type).MultyAnswer}">
						<div th:each="answer : ${task.answersList}">
							<input type="checkbox"
								   th:text="${answer}"/>
						</div>
					</div>
					<h1 th:case="*">Что-то пошло не так:(</h1>
				</div>

				<div th:switch="${task.result}">
					<div th:case="yes">
						<img th:src="@{/images/right.png}" alt="Правильный ответ" style="width:2%;height:2%">
					</div>
					<div th:case="no">
						<img th:src="@{/images/wrong.png}" alt="Неправильный ответ" style="width:2%;height:2%">
					</div>
					<div th:case="*"></div>
				</div>

				<div>
					<button>Проверить</button>
				</div>

				<div>
					<table class="list">
						<div th:each="taskNumber : ${taskNumberList}">
							<div class="question_number" th:switch="${task.result}">
								<div th:case="yes">
									<th class="correct_answered" th:text="${taskNumber}"></th>
								</div>
								<div th:case="no">
									<th class="fail_answered" th:text="${taskNumber}"></th>
								</div>
								<div th:case="*">
									<th class="new_question" th:text="${taskNumber}"></th>
								</div>
							</th>
						</div>
					</table>
				</div>
			</form>
		</div>

	</div>

	<!--<div>-->
	<!--	<input type="text" id="param" placeholder="Param"><br><br>-->
	<!--	-->

	<!--	<div id="result"></div>-->
	<!--</div>-->


	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" th:src="@{/js/getQuestion.js}"></script>
	<script type="text/javascript" th:src="@{/js/script.js}"></script>

</body>
</html>